/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Global styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;}

:root{
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --light-purple: #F2F0FF;
    --light-gray: #F3F6F9;
    --gray: #7A7A7A;
}

a {
    text-decoration: none;
}

/* 2. fonts */
h1{
    font-family: Merriweather, serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.6em;
    color: var(--light-gray);
}
h2{
    font-size: 1.8em;
    font-family: Merriweather, serif;
}
h3{
    font-size: 1.3em;
    color: var(--purple);
    font-family: Merriweather, serif;
}
h4{
    font-size: 2.6em;
    color: var(--light-gray);
    font-family: Merriweather, serif;
}
p{
    font-size: 1.5em;
    font-family: Roboto, sans-serif;
}
.p-section2{
    font-size: 1.1em;
}

/* body and main*/
body {
    font-family: Roboto, sans-serif;
    color: var(--black);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    flex-basis: 100vw;
}

main{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
}
/*2. Nav -- Header*/
header{
    flex-basis: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,15,121,1) 0%, rgb(39, 62, 202) 12%, rgb(46, 37, 156) 84%);
}
.squiggle-line{
    display: flex;
    justify-content: center;
}
.img-squiggle-line{
    width: 65px;
}

nav{
    flex-basis: 80px;
    margin: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
ul{
    flex-basis: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 30px;
    list-style: none;
    color: var(--light-gray);
    flex-shrink: 2;
}

.div-header{
    flex-basis: 300px;
    margin: 0 20vw 10vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: var(--light-gray);

}
.line-squiggle{
    width: 55px;
    display: flex;
    flex-direction: column;
    text-align: center;

}
.work-button{
    border: var(--pink);
    padding: 25px 55px;
    border-radius: 35px;
    font-size: 1.1em;
    color: var(--light-gray);
    background-color: var(--pink);
}


/* 3 First section */

.section1{
    flex-basis: 635px;
    display: flex;
    flex-direction: column;
}

.div-intro{
    padding-top: 15px;
    margin-top: 80px;
    margin-right: 300px;
    margin-left: 300px;
    flex-basis: 325px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 1.3em;
    color: var(--purple);
}

.div-second-intro{
    flex-basis: 30px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-right: 300px;
    margin-left: 300px;
    font-size: 1.1em;
}

.link{
    padding: 0 5px;
    text-decoration: none;
}

/*Second section */
.section2 {
    flex-basis: 2125px;
    display: flex;
    padding: 40px 20px 200px;
    background-color: var(--light-gray);
    /* Rolling stones */

    .outer-div {
        flex-basis: auto;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }

    .inner-div1 {
        flex-basis: 530px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .work-img1 {
        flex-basis: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        /*min-width: 400px;*/
    }

    img {
        width: 100%;
    }

    .rolling-stone {
        flex-basis: 400px;
        margin: 100px 40px;
        padding: 15px 10px 40px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .squiggle {
        width: 50px;
    }

    /* Variety */

    .outer-div {
        flex-basis: 1650px;
        margin: 55px 30px 0 30px;
        display: flex;
        flex-direction: column;
    }

    .inner-div2 {
        flex-basis: 530px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .variety {
        flex-basis: 400px;
        margin: 100px 40px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .squiggle {
        width: 50px;
    }

    /* Worth */

    .outer-div {
        flex-basis: 1650px;
        margin: 55px 30px 0 30px;
        display: flex;
        flex-direction: column;
    }

    .inner-div3 {
        flex-basis: 530px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .worth {
        flex-basis: 400px;
        margin: 100px 40px;
        padding: 30px 5px 25px 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .squiggle {
        width: 50px;
    }
}
/* Section 3 */
.section3{
    flex-basis: 975px;
    display: flex;
    flex-direction: column;
}
.div-service{
    flex-basis: 780px;
    margin: 90px 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}
.div-icons{
    border: 1px solid var(--purple);
    flex-basis: 390px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.icons{
    width: 80px;
}
.p-service{
    font-size: 0.9em;
}

/* Section 4 / form */

.section4 {
    flex-basis: 915px;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 65px;
    background-color: var(--blue);
}

.inner-section4 {
    flex-basis: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-title {
    flex-basis: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--light-gray);

}

form {
    flex-basis: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

label {
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
    color: var(--light-gray)

}

.name {
    flex-basis: 60px;
    width: 100%;
    padding-left: 10px;
}

.email {
    flex-basis: 60px;
    width: 100%;
    padding-left: 10px;
}

.text-field {
    flex-basis: 230px;
    width: 100%;
    padding: 10px;
}

.send {
    min-width: 200px;
    /*padding: 25px 15px;*/
    border: 1px solid var(--pink);
    flex-basis: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40%;
    border-radius: 30px;
    background-color: var(--pink);
    border: var(--pink);
    color: var(--light-gray);
}

/* Footer */

footer{
    flex-basis: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7em;
    background-color: var(--black);
    color: var(--light-gray);
}